#recipe-div {
    margin: 150px;
    background-color: wheat;
    padding: 20px;
}
#recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}
#recipe img {
    max-width: 500px;
}
#recipe p {
    font-weight: bold;
    font-size: 20px;
}
