.App {
    height: 100vh;
    background-size: cover;
}
.intro {
    display: flex;
    justify-content: center;
    padding-top: 128px;
}

.intro img {
    height: 320px;
}
.intro p {
    width: 450px;
    font-size: 16px;
    padding: 20px;
    background-color: wheat;
    font-weight: bold;
    border-radius: 0px 50px 50px 0px ;
}
h2 {
    text-align: center;
    color: white;
    margin-top: 50px;
    padding: 20px;
    font-size: 30px;
}
hr {
    padding: 20px;
    border: none;
    color: transparent;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.5);
}
footer a {
    color: white;
    font-weight: bold;
}